.sprite{background-image: url('../images/sprite.png');}

.logo{
	background-position: 1px 1px;
	background-repeat: no-repeat;
	width: 219px;
	height: 53px;
	margin: 0 auto;
}
#profiles-icon{
	background-position: -280px -1px;
	background-repeat: no-repeat;
	width: 44px;
	height: 35px;
	position: absolute;
	right: 40px;
	top: 32px;
}

#chat-icon{
	background-position: -344px -1px;
	background-repeat: no-repeat;
	width: 40px;
	height: 35px;
	position: absolute;
	right: 120px;
	top: 32px;
}