@primary-color: #2e3442;
@secondary-color: #E99832;
@dark-blue: #1B1F27;
@notification: #FCF2BF;
@notification2: #ECE2AA;
body{width:720px;overflow: hidden;}
body, html, h1{
  margin: 0;
  padding: 0;
  height: 100%;
  }
 *{
 	font-family: 'Helvetica', 'Verdana', 'Sans Serif';
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	webkit-box-sizing: border-box;

 }

a{text-decoration: none;}

 .web-app{
 	width: 720px;
 	height: 100%;
 	// min-height: 1280px;
 	background-color: #ccc;
 	position: relative;
 	overflow: hidden;

	header{
		display: fixed;
		text-align: center;

		#menu-icon{
			float: left;
			top: 0px;
			position: absolute;
			left: 0px;
			padding: 40px 40px 21px;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
			&:hover{
				background-color: @dark-blue;
			}
			span{
				background-color: #9B9B9B;
				width: 50px;
				height: 3px;
				display: block;
				margin-bottom: 10px;
			}
		}

  		nav{
  			height: 100px;
				background-color: @primary-color;  
				padding: 20px;	
				z-index: 2;
				position: relative;						
  		}

  		.profiles{
  			height: 150px;
  			width: 720px;
  			padding: 35px 0;
  			text-align: center;
  			position: absolute;
			top: -50px;
			z-index: 1;
			-webkit-transition: all .4s ease;
			  			-moz-transition: all .4s ease;
			  			-ms-transition: all .4s ease;
			  			-o-transition: all .4s ease;
			  			transition: all .4s ease; 			
			.bg{
				width: 100%;
				height: 150px;
				background-color: #000;
				position: absolute;
				top: 0;				
				opacity: 0.4;
			}
			.bg.active{
				height: 100%;
			}
  			a{
  			margin: 0 25px;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background-color: #ccc; 
				display: inline-block; 	
				position: relative;			
  			}
  			a::after{
				content: "+";
				position: absolute;
				top: 10px;
				left: 25px;
				font-size: 50px;
				font-family: 'helvetica', 'arial', 'sans-serif';
				color: gray;
			}

  			img{
				width: 80px;
				height: 80px;
				border-radius: 50%;
				position: relative;
				z-index: 1;
				border: 1px solid #ccc;	
			}
  		}
	}
	article{width: 100%;height: 100%;}

	footer{
		width: 100%;
		height: 100px;
		background-color: @primary-color;
		position: absolute;
		bottom: 0;
		color: #fff;
		font-size: 20px;
		padding: 20px
	}
 }

.profiles.active{top:100px!important;}

#map_canvas { 
	width: 100%;
	height: 100%;
}
#map_canvas.blur{
 -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);	
}
.menu{
	position: absolute;
	left: 0;
	top: 0;
	background-color: @dark-blue;
	width: 420px;
	height: 100%;
	z-index: 0;
	padding: 30px;

	ul{margin-top: 100px!important;}

	ul, li{list-style: none;margin:0;padding:0;}

	li{			border-top: 1px solid #333B47;

		a{
			border-radius: 0;
			margin: 0;
			padding: 20px 0;
			font-size: 1.4em;
			}
	}

	*{
		color: #fff;
		font-weight: 100;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-ms-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		font-smoothing: antialiased;	
	}
	a{
		border-radius: 50%;
		border-radius: 50%;
		display: block;
		margin: 10px auto 0 auto;
	}
	h2{font-size: 2em;text-align: center;line-height: 0.8em;}
	img{border-radius: 50%;}
}

a.profile-picture{width: 200px;}



.container{
	height: 100%;
	width: 720px;
	position: absolute;
	left: 0;
	top: 0;	
	-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-ms-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;
	box-shadow: -9px 0px 29px -10px #000000;

}
.container.menu-active{
	left: 420px;
}

.notification-box{
	background-color: black;
	width: 100%;
	position: absolute;
	bottom: -200px;
	-webkit-transition: all .2s ease;-moz-transition: all .2s ease;-ms-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;	
	>div:nth-child(odd){background-color: @notification;}
	>div:nth-child(even){background-color: @notification2;}

	>div{
		height: 150px;
		width: 100%;
		float: left;
		background-color: @notification;
		padding: 10px 25px;		
		position: relative;
		padding: 0px 75px 10px 90px;		

		img{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			position: absolute;
			left: 15px;
			top: 25px;			
		}
	}
}

.notification-box.active{
	bottom: 100px;
}

#add-form{
	position: absolute;
	z-index: 11;
	width: 100%;
	height: 100%;	
	top: 250px;	
	display: none;
	input{
		width: 500px;
		display: block;
		border: none;
		background-color: none;
		background: none;
		border: 2px solid #fff;
		margin-bottom: 30px;
		padding: 5px;
		height: 40px;
		color: #fff;
		font-size: 22px;
			
	}
	label{color:#fff;font-size: 30px;font-weight: 100;}
	input, button{z-index: 5;position: relative;margin-top: 5px;}
	button{
		background-color: #fff;
		border: 2px solid #fff;
		font-size: 24px;
		padding: 10px 20px;
	}
	.bg{
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.4;
		position: absolute;
		top: 0		
	}
	.container{-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;
		margin: 0 auto;
		padding: 60px;

	}
}
#add-form.active{
	display: block;
}



